{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Espacios Públicos Disponibles</h2>
    {% if fecha %}
        <h3 class="text-center">Espacios disponibles para la fecha: {{evento.fecha_realizacion}}</h3>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if espacios %}
        <table class="table table-bordered mt-3">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for espacio in espacios %}
                <tr>
                    <td>{{ espacio.nombre }}</td>
                    <td>{{ espacio.direccion }}</td>
                    <td>
                        <span class="badge {% if espacio.estado_espacio_publico == 'DISPONIBLE' %}badge-success{% else %}badge-danger{% endif %}">
                            {{ espacio.estado_espacio_publico }}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-center text-muted">No hay espacios disponibles.</p>
    {% endif %}
</div>
{% endblock %}